In [1]:
import pandas as pd

In [18]:
data = pd.read_csv("gapminder.tsv", sep="\t")
data

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [58]:
# exercise 1
# which years are in the dataset, and how many?
unq_yrs = data['year'].unique().tolist()
num_yrs = len(unq_yrs)
print(unq_yrs)
num_yrs

[1952, 1957, 1962, 1967, 1972, 1977, 1982, 1987, 1992, 1997, 2002, 2007]

12

In [19]:
# exercise 2
# largest pop and where it occurs
largest_pop = data['pop'].max()
largest_pop_data = data[data['pop'] == largest_pop]
largest_pop
largest_pop_data

    country continent  year  lifeExp         pop    gdpPercap
299   China      Asia  2007   72.961  1318683096  4959.114854

In [56]:
# exercise 3
# smallest european country in 1952, and its pop in 2007
europe = data[data['continent'] == "Europe"]
min_pop_1952_eu = europe[europe['pop'] == europe[europe['year'] == 1952]['pop'].min()]['country'].tolist()[0]
iceland_2007_pop = europe[(europe['country'] == min_pop_1952_eu) & (europe['year'] == 2007)]
min_pop_1952_eu
iceland_2007_pop

     country continent  year  lifeExp     pop    gdpPercap
695  Iceland    Europe  2007   81.757  301931  36180.78919